.navbar {
    -webkit-text-size-adjust: 100%;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
    -webkit-tap-highlight-color: transparent;
    box-sizing: inherit;
    display: flex;
    margin: 1rem 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background: #fff;
    font-weight: 400;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    border-radius: .28571429rem;
    min-height: 2.85714286em;
    font-size: 1rem;
}
.item {
    -webkit-text-size-adjust: 100%;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 1rem;
    box-sizing: inherit;
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    user-select: none;
    background: 0 0;
    padding: .92857143em 1.14285714em;
    text-transform: none;
    color: rgba(0,0,0,.87);
    font-weight: 400;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.item:active {
    -webkit-text-size-adjust: 100%;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 1rem;
    box-sizing: inherit;
    position: relative;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    user-select: none;
    padding: .92857143em 1.14285714em;
    text-transform: none;
    transition: background .1s ease,box-shadow .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: .28571429rem 0 0 .28571429rem;
    background: rgba(0,0,0,.05);
    color: rgba(0,0,0,.95);
    font-weight: 400;
    box-shadow: none;
}