
  .topnav {
    overflow: hidden; /* dışarı taşan elemanları gizle */
    background-color: green;
  }
  

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* link olduğu için altının çizilmesini önler. */
  }
  
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
 